.skills{
    width: 100%;
    height: auto;
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #f0f0f0; */

}
.skills>:nth-child(1){
    padding-bottom: 40px;
}
.skills>:nth-child(1) h1{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 3rem;
}
.skills>:nth-child(1) span{
    color: var(---mainColor);
}

.container{
    display: flex;
    width: 100%;
}

.skills-container{
    flex: 30%;
    display: flex;
    justify-content: center;
    
}
.bbb{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.sss{
/* background-color: blue; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 25%;
height: 24%;


}

.sss h5{
    padding-top: 7px;
    margin: 0;
    color: var(---textColor);
}
.img-container{
    background-color: white;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.experience{
    flex: 70%;
    padding: 20px 20px 20px 0;
}


@media only screen and (max-width: 850px){
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .bbb{
        height: 50vh;
        margin-bottom: 50px;
        width: 70%;
    }
    .sss{
    width: 25%;
    height: 24%;
    }
    .experience{
        padding: 20px;
    }
    
}

@media only screen and (max-width: 450px){
    .skills>:nth-child(1) h1{
        font-size: 2.3rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .bbb{
        height: 50vh;
        width: 80%;
    }
    .sss h5{
        font-size: 0.9rem;
    }
    .sss{
        width: 30%; 
        height: 24%;
    }
   
    
}


@media only screen and (max-width: 450px) and (max-height: 740px){
    .sss{
        width: 32%; 
        height: 24%;
    }
   
}


@media only screen and (max-width: 282px) {
    .bbb{
        height: 50vh;
        width: 80%;
    }
    .sss h5{
        font-size: 0.6rem;
    }
    .sss{
        width: 30%; 
        height: 24%;
    }
   
}
